html, body {
    height: 100%;
}
.container {
    height: 100%;
    background-image: url(../images/papyrus-dark.png)
}
#game-container {
    height: 60%;
}

#start-button, #button-container {
    position: relative;
    margin: auto;
    text-align: center;
}

.start-button {
    width: 90px
}

#current-question {
    margin: 0 auto;
}

#title, h2 {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
}
#gif {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#gif-div {
    display: block;
    margin: 0 auto;
}
